In [13]:
import pandas as pd
import numpy as np

In [27]:
split1 = pd.read_csv('/Users/jerem/cours_esiee_paris/E4/kaggle_walmart/prophet_split/prophet_split1.csv')
split2 = pd.read_csv('/Users/jerem/cours_esiee_paris/E4/kaggle_walmart/prophet_split/prophet_split2.csv')
split3 = pd.read_csv('/Users/jerem/cours_esiee_paris/E4/kaggle_walmart/prophet_split/prophet_split3.csv')
split4 = pd.read_csv('/Users/jerem/cours_esiee_paris/E4/kaggle_walmart/prophet_split/prophet_split4.csv')

In [28]:
submission_sample = pd.read_csv('/Users/jerem/cours_esiee_paris/E4/kaggle_walmart/data/sample_submission.csv')
first_pro = pd.read_csv('/Users/jerem/cours_esiee_paris/E4/kaggle_walmart/submission/submission_prophet2_ALL.csv')

In [29]:
split1.drop(['Unnamed: 0','id'], axis = 1, inplace = True)

In [30]:
split2.drop(['Unnamed: 0','id'], axis = 1, inplace = True)
split3.drop(['Unnamed: 0','id'], axis = 1, inplace = True)
split4.drop(['Unnamed: 0','id'], axis = 1, inplace = True)

In [34]:
split1 = split1[:7623]

In [37]:
split2 = split2[:7623]

In [40]:
split3 = split3[:7622]

In [43]:
split4 = split4[:7622]

In [45]:
joined_df = pd.concat([split1,split2,split3,split4], ignore_index= True)

In [46]:
joined_df

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,0.715834,0.915793,0.737153,0.679746,0.885750,1.151936,0.678581,0.448104,0.537807,0.266069,...,0.415860,0.845347,0.510377,0.404532,0.613663,0.440994,0.380257,0.562619,0.790143,0.286786
1,0.264101,0.313151,0.088360,0.134565,0.232568,0.329751,0.415052,0.221736,0.234972,0.171694,...,0.447401,0.267362,0.258397,0.249646,0.518572,0.510354,0.592417,0.576734,0.595804,0.752049
2,0.491322,0.397691,0.396348,0.427642,0.639625,0.938232,0.755672,0.751628,0.767075,0.883746,...,0.844222,0.962871,0.647044,0.571320,0.527490,0.557782,0.570953,0.738083,1.011158,0.834226
3,0.935152,0.403906,0.743346,1.628049,1.652262,3.151034,4.271298,1.631538,0.975994,0.726725,...,1.541868,3.331793,4.421388,1.456839,0.630589,0.709179,1.575434,1.676340,3.055393,3.819275
4,1.520631,1.583654,1.547123,1.662655,1.913801,2.095398,2.007565,1.138840,0.973746,0.754846,...,0.649631,0.884216,1.100852,0.667768,0.875198,0.871752,0.919011,1.111182,1.336117,1.380919
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30485,0.068178,0.122574,0.171256,0.074621,0.172911,0.030665,0.234287,0.034646,0.134465,0.207022,...,0.331390,0.168788,0.257655,0.000000,0.000000,0.000754,0.033212,0.284490,0.250225,0.492118
30486,0.000000,0.000000,0.000000,0.000000,0.000000,0.110560,0.129694,0.151738,0.159885,0.310172,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.058757,0.115362
30487,0.642562,0.190419,0.580048,0.373021,0.522492,0.517122,0.980351,1.078983,0.715067,1.131186,...,0.459840,0.329424,0.660416,0.626097,0.148843,0.504785,0.243673,0.306951,0.166136,0.432952
30488,1.339985,1.422067,1.303961,1.296537,1.253221,1.450000,1.620919,1.388948,1.400106,1.245041,...,1.460391,1.514734,1.466517,1.041591,0.964087,0.815624,0.855147,0.859659,1.067487,1.232828
30489,2.414532,3.070942,2.354127,2.285507,2.863463,2.921335,3.452406,3.424529,3.679956,2.626624,...,2.299092,2.197733,2.404225,2.155544,2.445736,1.604331,1.523662,2.058081,2.035793,2.561073

In [48]:
submission_sample

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,HOBBIES_1_001_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,HOBBIES_1_002_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,HOBBIES_1_003_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,HOBBIES_1_004_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,HOBBIES_1_005_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60975,FOODS_3_823_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60976,FOODS_3_824_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60977,FOODS_3_825_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60978,FOODS_3_826_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60979,FOODS_3_827_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [55]:
eval_part = first_pro[30490:]

In [ ]:
#id_value = submission_sample['id']

#df.insert(loc=idx, column='A', value=new_col)